.realTime-filter {
    margin-left: 20px;
}
.filter-options{
    all: unset;
    outline: 0.5px solid gray;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    font-weight: light;
    border-radius: 8px;
    color: gray;
}
.btn-box {
    border-bottom: 1px solid gray;
    height: 50px;
}